/* Global Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
  }
  
  /* Logo Container Styles */
  
  .logo-container {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 70px 50px;
    height: 30px;
    align-items: center;
  }
  
  .menu-icon {
    width: 30px;
    height: 30px;
  }
  
  
  
  /* Container Page 2 Styles */
  
  .container-page2 {
    background-color: #fff;
    /* padding: 50px; */
  }
  
  /* .flex-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  } */
  
  /* p{
    font-size: 20px;
  } */
  
  
  .img.cleaning-img2 {
    width: 100%;
  }
  
  .topic {
    font-size: 2.5rem;
    line-height: 1.1;
    padding-bottom: 30px;
  }
  
  .txt {
    font-size: 25px;
    line-height: 1.3;
    padding-block: 10px;
  }
  
  .contact-btn {
    border: 2px solid black;
    margin-top: 40px;
    padding-inline: 70px;
    background-color: #fff;
    padding-block: 25px;
    font-size: 18px;
  }
  
  .contact-btn:hover {
    background-color: black;
    color: #fff;
    border: none;
  }
  
  /* Repairing Service Image Styles */
  
  .repairing-service-img {
   width: 100%;
    margin-top: 100px;
  }
  
  /* Next Wrapper Styles */
  
  .next-wrapper {
    background-color: black;
    color: #fff;
    padding-block: 100px;
    padding-inline: 150px;
    text-align: center;
  }
  
  .topic3{
    font-size: 2rem;
    line-height: 1.1;
    margin-block: 50px;
    text-align: center;
  }
  .topic4{
    
  }
  
  .topic2 {
    font-size: 2rem;
    line-height: 1.1;
    margin-block: 50px;
    text-align: center;
  }
  
  .txt2 {
    font-size: 25px;
    line-height: 1.3;
    padding-block: 20px;
    padding-inline: 10px;
    text-align: center;
  }
  
  .box-cont {
    background-color: #fff;
    color: black;
  }
  
  .work-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 500%;
    border: 20px solid gold;
    text-align: center;
    margin-block: 50px;
    width: 500px;
  }
  
    /* Style the img elements */
    /* img.cleaning-img2 {
      width: 100%;
  } */
  
  img{
    width: 100%;
  }
    .work-subtopic{
      padding-block: 20px;
    }
  
    .work-box{
      background-image: url(./images/flooring-repair.jpg);
      width: 200px;
      height: 200px;
      border: 10px solid gold;
      border-radius: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 100% 100%;
      margin-top: 30px;
      margin-inline: auto;
    }
    .subtopic-content{
      font-size: 20px;
      margin-inline: 30px;
      padding-bottom: 60px;
      line-height: 1.5;
    }
  
    .container {
      background-color: gold;
      padding-inline: 20px;
      text-align: left;
  }
  
  .container2{
    background-color: gold;
      padding-inline: 20px;
      text-align: left;
      height: 1100px;
  }
  
  .menu-icon, .checkmark {
      width: 20px;
      height: 20px;
  }
  
  .checkmark {
      margin-right: 5px;
  }
  
  .topic, .topic2 {
      line-height: 1.1;
  }
  
  .topic3{
    line-height: 1.1;
  }
  
  .topic4 {
    font-size: 2rem;
    text-align: left;
    line-height: 1.1;
    margin-top: 20px;
    padding-bottom: 30px;
    line-height: 1.1;
    font-size: 2rem;
    line-height: 1.1;
    /* margin-block: 50px; */
    text-align: center;
  }
  
  
  .topic {
      padding-bottom: 40px;
      
  }
  
  li {
      gap: 50px;
      font-size: 20px;
  }
  
  ul {
      list-style: none;
      line-height: 50px;
  }
  
  .text-container {
    padding-top: 50px;
    margin-top: 10px;
    margin-inline: 30px;
  }
  
  .cleaning-img {
      padding-top: 20px;
      width: 100%;
      /* width: 500px;
      height: 600px; */
  }
  
  .container {
      display: flex;
      justify-content: center;
  }
  
  
  .content-reliable{
      font-size: 20px;
      line-height: 1.5;
      margin-top: 30px;
      padding-bottom: 50px;
  }
  
  
  
  .wrapper-container button{
    margin-top: 80px;
  }
  
  .line{
      width: 100%;
      background-color: gold;
      height: 10px;
      margin-top: 100px;
  }
  
  .repair-type{
      padding-block: 30px;
      color: rgb(59, 59, 59);
      font-size: 1.5rem;
      font-weight: 600;
  }
  
  .small-circle{
      width: 30px;
      background-color: gold;
      height: 30px;
      border-radius: 50px;
      margin-top: 40px;
  }
  
  .repair-type-content{
      color: rgb(59, 59, 59);
      line-height: 1.5;
      font-size: 20px;
  }
  
  .learn-button{
      background-color: gold;
      /* border: 2px solid; */
      padding-block: 20px;
      text-align: center;
      font-size: 20px;
      padding-inline: 50px;
      align-items: center;  
      margin-inline: auto;
      display: grid;
      margin-bottom: 30px;
  }
  .learn-button2{
      background-color: white;
      /* border: 2px solid; */
      padding-block: 20px;
      text-align: center;
      font-size: 20px;
      padding-inline: 50px;
      align-items: center;  
      margin-inline: auto;
      display: grid;
      margin-bottom: 30px;
  }
  
  .learn-button:hover {
      background-color: black;
      color: white;
  }
  .learn-button2:hover {
      background-color: gold;
      color: black;
  }
  
  button:hover{
    box-shadow: gold;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  
  .heading-container2 {
    padding: 50px;
    padding-inline: 70px;
    background-color: gainsboro;
  }
  
  .white-box {
    background-color: white;
    padding: 30px;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  .more-txt {
    margin-top: 50px;
    border-bottom: 2px solid;
    width: 60px;
    font-size: 13px;
  }
  
  .more-txt:hover{
    border-bottom: 1px solid gold;
    cursor: pointer;
  }
  
  .circle {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: gold;
    padding-bottom: 15px;
  }
  
  img.work-icon {
    width: 50px;
      margin-top: 10px;
      margin-left: 10px;
  }
  
  .work-type, .repair-type {
    padding-block: 15px;
  }
  
  .more-txt{
    font-size: 18px;
  }
  
  .message-container{
    padding: 70px;
  }
  
  .message-img{
    width: 100%;
  }
  
  .topic3 {
    font-size: 2rem;
    text-align: center;
    line-height: 1.1;
    margin-top: 20px;
    padding-bottom: 30px;
  }
  
  .message-topic{
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.1;
    margin-top: 20px;
    padding-bottom: 30px;
  }
  
  .message-content{
    font-size: 20px;
  }
  
  .send-cont{
    margin-top: 30px;
  }
  
  .send-btn{
    padding-inline: 40px;
    padding-block: 20px;
    background-color: gold;
    margin-block: 30px;
    border: none;
  }
  
  .send-btn:hover{
    background-color: black;
    color: white;
  }
  
  .comment{
    text-align: center;
    margin: 30px;
    border-top: 1px solid grey;
    padding-top: 15px;
  }
  
  .professional-container{
    background-color: black;
    color: white;
    padding-block: 50px;
    
    display: grid;
      justify-content: center;
  }
  
  .straight-line{
    width: 100%;
    height: 15px;
    background-color: gold;
  }
  
  .circle-line{
    height: 90px;
    width: 90px;
    border-radius: 50px;
    background-color: gold;
    margin-left: auto;
    margin-top: 20px;
    align-items: center;
  }
  
  .arrow{
    width: 70px;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  
  .professinal-content{
    font-size: 20px;
    text-align: center;
   padding-bottom: 15px;
  }
  
  .service-txt{
    font-size: 2.5rem;
    line-height: 1.1;
    padding-bottom: 10px;
    text-align: center;
  }
       
  .box{
    background-color: white;
    color: black;
    font-size: 20px;
    margin-block: 30px;
    line-height: 1.6;
  }
  
  .txt-box{
    padding: 40px;
  
  }
  
  .last-container{
    background-color: gold;
  }
  
  .inside-container{
    background-color: white;
   
  }
  
  .last-txt-container{
     padding: 60px;
  }
  
  .checkmark-stroke{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    align-items: center;
    text-align: center;
    font-size: 15px;
  }
  
  .mark-lst{
    margin-top: 40px;
  }
  
  .learn-btn{
    background-color: white;
    border: 2px solid black;
    padding-block: 20px;
    text-align: center;
    font-size: 15px;
    margin-top: 40px;
    padding-inline: 65px;
    align-items: center;    
  }
  
  .learn-btn:hover {
    background-color: black;
    color: white;
  }
  
  .more-work-name{
    font-weight: 700;
  }
  
  
  .last-img{
    background-image: url(./images/countertop-repair.jpg);
    background-repeat: no-repeat;
    background-size: cover;
     width: 100%;
  }
  
  .info-box {
    text-align: center;
    margin-top: 70px;
  }
  .info-box3 {
    color: white;
    text-align: center;
    margin-top: 50px;
    align-items: center;
  }
  
  .input-email {
    padding-block: 20px;
    background-color: rgb(226, 226, 226);
    border: 2px solid black;
    padding-left: 15px;
    width: 100%;
    margin-block: 20px;
  }
  
  .email-txt {
    margin-block: 20px;
  }
  
  .icon {
    align-self: center;
    width: 60px;
    height: 60px;
    margin-top: 30px;
  }
  
  
  .information  {
    background-color: black;
      padding-inline: 20px;
      margin-block: 100px;
  }
  
  
  .info-box h2 {
    color: white;
    margin-bottom: 10px;
  }
  
  .info-box p {
    color: white;
    margin-bottom: 15px;
    font-size: 20px;
  }
  
  
  .submit-btn {
    
    color: rgb(8, 8, 8);
    cursor: pointer;
  }
  
  .phone-no, .submit-btn {
    background-color: gold;
    /* border: 2px solid white; */
    padding-block: 25px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
  }
  
  .phone-no:hover{
    background-color: yellow;
  }
  
  .submit-btn:hover{
    background-color: yellow;
  }
  
  .phone-no{
    margin-top: 20px;
  }
  
  li{
    color: black;
  }
  
  .box-cont-flex {
    padding: 50px;
  }
  
  
  .icon {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
  }
  
  .inside-container h1{
    color: black;
  }
  
  .line-boxes-flex{
    padding: 50px;
  }
  
  .two-box3 {
    padding: 50px;
  }
  
  @media screen and (min-width:320){
    .work-box {
      width: 200px;
    }
    
  }
  
  @media screen and (min-width: 660px) {
      .list-container {
          display: flex;
          gap: 120px;
      }
  
      .flex-heading {
          margin-inline: 50px;
        }
  
        .content-reliable{
          font-size: 20px;
        }
  
        .flex-heading3 {
          margin-inline: 30px;
        }
  
        .information  {
          padding-inline: 100px;
          margin-block: 100px;
      }
    
  }
  
  
  
  /* Media Queries */
  
  @media screen and (min-width: 768px) {
   .repairing-service-img {
      width: 100%;
      display: block;
      justify-content: center;
    }
  
    .cleaning-img2{
      width: 560px;
      height: 632px; 
      margin-top: 38px;
      /* margin-inline: 100px; */
    }
  
    .subtopic-content{
      font-size: 20px;
    }
  
    li {
      font-size: 23px;
  }
  
  .repair-type-content{
    font-size: 20px;
  }
  
  .topic2 {
    font-size: 3rem;
    text-align: left;
  }
  .topic3 {
    font-size: 3rem;
    text-align: center;
  }
  
  .topic4{
    font-size: 2.5rem;
  }
  
  .wrapper-container, .professional-container, .next-wrapper, .heading-container2 {
    
    padding-block: 100px;
    /* padding-inline: 150px; */
  }
  
  .information-2box{
    display: grid;
    grid-template-columns: 450px 450px;    
    justify-content: center;
  }
  
    .line-boxes-flex{
      display: grid;
      grid-template-columns: 400px 400px;
      gap: 20px;
      justify-content: center;
    }
  
    .four-whitebox{
      display: grid;
      grid-template-columns: 350px 350px;
      justify-content: center;
      gap: 20px;
    } 
  
  }
  
  @media screen and (min-width: 800px) {
    .box-cont-flex{
      display: grid;
      grid-template-columns:  350px 350px;
      justify-content: center;
      gap: 30px;
    }
  }
    
  
  
  @media screen and (min-width: 1000px) {
   .flex-heading {
      display: flex;
      width: 100%;
      flex-direction: row-reverse;
   }
  
   .topic {
    font-size: 3rem;
    padding-bottom: 20px;
      padding-right: 50px;
    }
  
   .service-txt {
      font-size: 3rem;
      padding-bottom: 20px;
    }
  
   .topic2 {
      font-size: 3rem;
      padding-bottom: 20px;
    }
  
    .txt {
      font-size: 25px;
    }
  
    .two-box{
      display: grid;
      grid-template-columns:   400px 400px ;
      justify-content: center;
      gap: 20px;
  }
    .two-box3{
      display: grid;
      grid-template-columns:    400px 400px;
      justify-content: center;
      gap: 20px;
  }
  
  .line-boxes-flex{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 20px;
    justify-content: center;
    padding-inline: 200px;
  }
  
  
  .flex-heading3 {
    display: flex;
    /* width: 100%; */
    gap: 55px;
    flex-direction: row;
  }
  
    .info-box3{
      margin-inline: 250px;
    }
  
  
  }
  
  @media screen and (min-width: 1000px) {
   
   .flex-heading {
      margin-inline: 50px;
      gap: 70px;
    }
   
   .topic2 {
      font-size: 4rem;
      padding-bottom: 20px;
    }
  
    .inside-container{
      display: flex;
    }
  
    .box-cont{
      margin-block: 20px;
    }
  
    
    .txt2{
      font-size: 20px;
    }
  
    .subtopic-content{
      font-size: 20px;
    }
  
    .content-reliable{
      font-size: 22px;
    }
  
    li{
      font-size: 23.5px;
      padding-bottom: 30px;
    }
  
    .four-whitebox{
      display: grid;
      grid-template-columns: 240px 240px 240px 240px;
      justify-content: center;
      gap: 20px;
      padding-inline: 270px;
    } 
  
  
    .cleaning-img {
      width: 720px;
      height: 900px;
      padding-top: 130px;
  }
  
    .white-box {
      font-size: 20px;
    }
  
   .four-white-box{
    display: flex;
   }
  
   .flex-heading3 {
    /* margin-inline: 50px; */
  }
  
  .message-cont-flex{
    display: flex;
    gap: 100px;
  }
  
  .container{
    height: 900px;
  }
  
  .cleaning-img2{
    height: 682px;
     width: 630px;
  }
  
  
  .container2{
    
      height: 760px;
  }
  
  
  
    .info-box{
      width: 400px;
    }
    
  }
  @media screen and (min-width: 1100px) {
    .box-cont-flex{
      display: grid;
      grid-template-columns: 300px 300px  300px 300px;
      justify-content: center;
      gap: 30px;
    }
    
    .two-box3{
      display: grid;
      grid-template-columns: 350px 350px 350px;
      justify-content: center;
      gap: 20px;
  }
  
    .four-whitebox{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: center;
    gap: 20px;
  } 
  
  .line-boxes-flex{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    gap: 50px;
    justify-content: center;
  }
  
  .information-2box{
    display: flex;
  }
  
  }
  
  
  